<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>Ezappt</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/js/fabric.min.js"></script>
    <script src="MessageBanner.js" type="text/javascript"></script>
    <script src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="Home.css" rel="stylesheet" type="text/css" />
    <script src="Common.js" type="text/javascript"></script>
    <script src="AvTimesController.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/2.1.0/fabric.min.css">
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/2.1.0/fabric.components.min.css">

</head>
<body class="container" data-ng-app="myApp" data-ng-controller="myCtrl">

    <br />
    <h1 class="text-center">Save Your Available Times</h1>
    <br />
    <br />
    <div>
        <label for="datetimes">Start Date - End Date</label><br />
        <input class="form-control" id="datetimes" name="datetimes" />
    </div>
    <br />
    <div>
        <label><input class="checkbox1" type="checkbox" ng-click="toggleSelection(1)"/> Mon</label>
        <label><input class="checkbox1" type="checkbox" ng-click="toggleSelection(2)" /> Tue</label>
        <label><input class="checkbox1" type="checkbox" ng-click="toggleSelection(3)"/> Wed</label>
        <label><input class="checkbox1" type="checkbox" ng-click="toggleSelection(4)"/> Thu</label>
        <label><input class="checkbox1" type="checkbox" ng-click="toggleSelection(5)"/> Fri</label>
        <label><input class="checkbox1" type="checkbox" ng-click="toggleSelection(6)"/> Sat</label>
        <label><input class="checkbox1" type="checkbox" ng-click="toggleSelection(0)"/> Sun</label>
    </div>
    <br />
    <div>
        <label style="display:block;">Start time - End time</label>
        <p class="col-xs-6 col-md-6 col-lg-6">
            <select ng-model="avTime.startTime" class="form-control">
                <option>00:00</option>
                <option>00:30</option>
                <option>01:00</option>
                <option>01:30</option>
                <option>02:00</option>
                <option>02:30</option>
                <option>03:00</option>
                <option>03:30</option>
                <option>04:30</option>
                <option>05:00</option>
                <option>05:30</option>
                <option>06:00</option>
                <option>06:30</option>
                <option>07:00</option>
                <option>07:30</option>
                <option>08:00</option>
                <option>08:30</option>
                <option>09:00</option>
                <option>09:30</option>
                <option>10:00</option>
                <option>10:30</option>
                <option>11:00</option>
                <option>11:30</option>
                <option>12:00</option>
                <option>12:30</option>
                <option>13:00</option>
                <option>13:30</option>
                <option>14:00</option>
                <option>14:30</option>
                <option>15:00</option>
                <option>15:30</option>
                <option>16:00</option>
                <option>16:30</option>
                <option>17:00</option>
                <option>17:30</option>
                <option>18:00</option>
                <option>18:30</option>
                <option>19:00</option>
                <option>19:30</option>
                <option>20:00</option>
                <option>20:30</option>
                <option>21:00</option>
                <option>21:30</option>
                <option>22:00</option>
                <option>22:30</option>
                <option>23:00</option>
                <option>23:30</option>
            </select>
        </p>
        <p class="col-xs-6 col-md-6 col-lg-6">
            <select ng-model="avTime.endTime" class="form-control">
                <option>00:00</option>
                <option>00:30</option>
                <option>01:00</option>
                <option>01:30</option>
                <option>02:00</option>
                <option>02:30</option>
                <option>03:00</option>
                <option>03:30</option>
                <option>04:30</option>
                <option>05:00</option>
                <option>05:30</option>
                <option>06:00</option>
                <option>06:30</option>
                <option>07:00</option>
                <option>07:30</option>
                <option>08:00</option>
                <option>08:30</option>
                <option>09:00</option>
                <option>09:30</option>
                <option>10:00</option>
                <option>10:30</option>
                <option>11:00</option>
                <option>11:30</option>
                <option>12:00</option>
                <option>12:30</option>
                <option>13:00</option>
                <option>13:30</option>
                <option>14:00</option>
                <option>14:30</option>
                <option>15:00</option>
                <option>15:30</option>
                <option>16:00</option>
                <option>16:30</option>
                <option>17:00</option>
                <option>17:30</option>
                <option>18:00</option>
                <option>18:30</option>
                <option>19:00</option>
                <option>19:30</option>
                <option>20:00</option>
                <option>20:30</option>
                <option>21:00</option>
                <option>21:30</option>
                <option>22:00</option>
                <option>22:30</option>
                <option>23:00</option>
                <option>23:30</option>
            </select>
        </p>
    </div>
    <div>
        <label for="location">Location </label><br />
        <select ng-model="avTime.location" class="form-control" id="locations">
            <option id="{{location.locationId}}" ng-repeat="location in locations">{{location.locationName}}</option>
        </select>
    </div>
    <br />
    <div class="text-center">
        <button id="btnAdd" class="btn btn-primary" ng-disabled="avTime.days.length ==0 || avTime.location =='' || avTime.startDt =='' || avTime.endDt =='' || avTime.endTime =='' || avTime.startTime ==''">Add</button>
        <button id="btnClear" class="btn btn-primary" ng-disabled="timeArr.length == 0">Clear</button>

    </div>
    <br />
    <div ng-if="timeArr.length != 0" class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Days</th>
                    <th>Location</th>
                    <th>Start</th>
                    <th>End</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="time in timeArr">
                    <td ng-click="removeTime($index)" style="cursor:pointer;color:red;">x</td>
                    <td>{{time.days.toString()}}</td>
                    <td>{{time.location}}</td>
                    <td>{{time.startTime}}</td>
                    <td>{{time.endTime}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <div class="text-right">
        <button id="btnSave" class="btn btn-primary" ng-disabled="timeArr.length == 0">Save</button>
    </div>
    <!-- FabricUI component used for displaying notifications -->
    <div class="ms-MessageBanner" style="position:absolute;bottom: 0;left:0;right:0;">
        <div class="ms-MessageBanner-content">
            <div class="ms-MessageBanner-text">
                <div class="ms-MessageBanner-clipper">
                    <div class="ms-font-m-plus ms-fontWeight-semibold" id="notificationHeader"></div>
                    <div class="ms-font-m ms-fontWeight-semilight" id="notificationBody"></div>
                </div>
            </div>
            <button class="ms-MessageBanner-expand" style="display:none"><i class="ms-Icon ms-Icon--chevronsDown"></i> </button>
            <div class="ms-MessageBanner-action"></div>
        </div>
        <button class="ms-MessageBanner-close"> <i class="ms-Icon ms-Icon--x"></i> </button>
    </div>

</body>
</html>