<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>Ezappt</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/js/fabric.min.js"></script>
    <script src="MessageBanner.js" type="text/javascript"></script>
    <script src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="Home.css" rel="stylesheet" type="text/css" />
    <script src="Common.js" type="text/javascript"></script>
    <script src="BookingController.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/2.1.0/fabric.min.css">
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/2.1.0/fabric.components.min.css">
    <style>
        #confirm{
            border:2px solid blue;
            border-radius: 5px;
            padding:10px;
        }
    </style>
</head>
<body class="container" data-ng-app="myApp" data-ng-controller="myCtrl">
    <div>
        <div class="text-center"><a href="DailySchedule.html?userName={{userName}}&staffID={{staffID}}&userID={{userID}}"><img style="height:32px;" src="Images/logo1.png" /></a></div>
        <br />
        <div class="ui-widget">
            <label for="tags">Client </label><br />
            <input ng-model="txt" class="form-control" id="tags">
        </div>
        <div>
            <label for="services">Appoinment Type </label><br />
            <select class="form-control" id="services">
                <option>select</option>
                <option id="{{service.serviceId}}" ng-repeat="service in services">{{service.service}}</option>
            </select>
        </div>
        <div>
            <label for="staff">Staff </label><br />
            <input ng-model="userName" class="form-control" id="staff" disabled>
        </div>
        <div>
            <label for="location">Location </label><br />
            <select class="form-control" id="locations">
                <option id="{{location.locationId}}" ng-repeat="location in locations">{{location.locationName}}</option>
            </select>
        </div>
        <p>

        </p>
        <div class="text-right">
            <button id="btnSearch" class="btn btn-success">Search</button>
        </div>
        <p> </p>
        <div style="display:none" id="date" class="text-center">
            <div style="margin: 0 auto;" class="text-center" id="datepick"></div>
            <div>
                <button style="margin:3px;" ng-click="apptDetails()" ng-repeat="time in times" type="button" class="btn btn-primary">{{time}}</button>
            </div>
        </div>
        <div style="display:none" id="confirm">
            <h4>Confirm Appointment</h4>
            <p><span>Date: </span><span>{{currentDate}}</span></p>
            <p><span>Time: </span><span>{{time}}</span></p>
            <p><span>Appt: </span><span>{{serviceName}} {{serviceTime}} min</span></p>
            <br />
            <p>Notes:</p>
            <textarea rows="5" class="form-control" id="notesCon" ng-model="notes">
              
            </textarea>
            <p> </p>
            <div class="text-center">
                <button class="btn btn-danger" id="btnCancel">Cancel</button>
                <button class="btn btn-success" id="btnConfirm">Confirm</button>
            </div>
        </div>
    </div>

    <!-- FabricUI component used for displaying notifications -->
    <div class="ms-MessageBanner" style="position:fixed;bottom: 0;left:0;right:0;">
        <div class="ms-MessageBanner-content">
            <div class="ms-MessageBanner-text">
                <div class="ms-MessageBanner-clipper">
                    <div class="ms-font-m-plus ms-fontWeight-semibold" id="notificationHeader"></div>
                    <div class="ms-font-m ms-fontWeight-semilight" id="notificationBody"></div>
                </div>
            </div>
            <button class="ms-MessageBanner-expand" style="display:none"><i class="ms-Icon ms-Icon--chevronsDown"></i> </button>
            <div class="ms-MessageBanner-action"></div>
        </div>
        <button class="ms-MessageBanner-close"> <i class="ms-Icon ms-Icon--x"></i> </button>
    </div>

</body>
</html>