<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>Ezappt</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/js/fabric.min.js"></script>
    <script src="MessageBanner.js" type="text/javascript"></script>
    <script src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="Home.css" rel="stylesheet" type="text/css" />
    <script src="Common.js" type="text/javascript"></script>

    <script src="HomeController.js" type="text/javascript"></script>


    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/2.1.0/fabric.min.css">
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/2.1.0/fabric.components.min.css">



</head>
<body class="container" data-ng-app="myApp" data-ng-controller="myCtrl">
    <div id="mainCon" class="text-center">
        <br /><br />
        <div><img src="Images/logo1.png" /></div><br />
        <p>Appointment Management</p>
        <p>Event Management</p>
        <p>Queuing Management</p><br />

        <input ng-model="Email" class="form-control input-lg" type="text" placeholder="Email" />
        <p> </p>
        <input ng-model="Password" class="form-control input-lg" type="password" placeholder="Password" /><br />
        <button id="btnLogin" class="btn btn-primary btn-lg">Login</button><br /><br />
        <p>Or</p>
        <p><a id="newAcc" href="">Create New Account</a></p>
    </div>
    <!-- FabricUI component used for displaying notifications -->
    <div class="ms-MessageBanner" style="position:fixed;bottom: 0;left:0;right:0;">
        <div class="ms-MessageBanner-content">
            <div class="ms-MessageBanner-text">
                <div class="ms-MessageBanner-clipper">
                    <div class="ms-font-m-plus ms-fontWeight-semibold" id="notificationHeader"></div>
                    <div class="ms-font-m ms-fontWeight-semilight" id="notificationBody"></div>
                </div>
            </div>
            <button class="ms-MessageBanner-expand" style="display:none"><i class="ms-Icon ms-Icon--chevronsDown"></i> </button>
            <div class="ms-MessageBanner-action"></div>
        </div>
        <button class="ms-MessageBanner-close"> <i class="ms-Icon ms-Icon--x"></i> </button>
    </div>

</body>
</html>