<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>Word Add-In with Commands Sample</title>
    <script src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="MessageBanner.js" type="text/javascript"></script>
    <script src="common.js" type="text/javascript"></script>
    

    <!-- To enable offline debugging using a local reference to Office.js, use:                        -->
    <!-- <script src="Scripts/Office/MicrosoftAjax.js" type="text/javascript"></script>  -->
    <!-- <script src="Scripts/Office/1/office.js" type="text/javascript"></script>  -->

    <link href="Home.css" rel="stylesheet" type="text/css" />
    <script src="Home.js" type="text/javascript"></script>

    <!-- For the Office UI Fabric, go to http://aka.ms/office-ui-fabric to learn more. -->
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/2.1.0/fabric.min.css">
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/2.1.0/fabric.components.min.css">
    
    <!-- To enable the offline use of Office UI Fabric, use: -->
    <!-- link rel="stylesheet" href="Content/fabric.min.css" -->
    <!-- link rel="stylesheet" href="Content/fabric.components.min.css" -->

</head>
<body class="container" data-ng-app="myApp" data-ng-controller="myCtrl">
    <div id="mainCon" style="display:none;">
        <div class="text-center" id="LLcon">
            <input type="text" value="10" class="form-control" id="numCon" />
            <button class="btn btn-block btn-default" id="btnGetLL">Get LL</button>
            <button ng-repeat="LL in LessonsLearned" class="btnInsertLL btn btn-primary" id="LL{{$index}}" on-finish-render="ngRepeatFinished"> Insert LL {{$index}}</button>
        </div>
        <div class="text-center" id="header"><h4>All Wells</h4></div>
        <div class="grid-row" id="grid-row1">
            <div class="col">

                <ul class="loading">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>

            </div>
        </div>
        <!--<div id="accordion">
            <h3 ng-repeat-start="well in Wells" id="{{well['@attributes'].uid}}" on-finish-render="ngRepeatFinished" data-ng-click="GetWellbores($event)"><span style="font-weight:bold;">Well:</span> {{well.name["#text"]}}</h3>
            <div ng-repeat-end>
                <p id="{{Wellbores['@attributes'].uid}}">
                    <span ng-if="Wellbores.name['#text'] != null" style="font-weight:bold;">Wellbore:</span> {{Wellbores.name["#text"]}}
                </p>
                <div ng-if="Wellbores.name['#text'] != null" class="btn-group">
                    <button class="btn btn-sm btn-primary" id="btnInsertBHA" >Insert BHA</button>
                    <button class="btn btn-sm btn-primary" id="btnInsertSurvey" >Insert Survey</button>
                </div>
            </div>
        </div>-->

        <div id="accordion">
            <h3 class="accordion-toggle" ng-repeat-start="well in Wells" data-uidWell="{{well['@attributes'].uid}}" on-finish-render="ngRepeatFinished">

                <span style="font-weight:bold;">Well:</span> {{well.name["#text"]}}

            </h3>
            <div class="accordion-content text-center" ng-repeat-end>
                <div style="min-height:50px; width:100%; position:relative;">
                    <div class="grid-row grid-row2">
                        <div class="col">
                            <ul class="loading2">
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <div ng-repeat="Wellbore in Wellbores" class="wellboreCon">
                  
                        <a class="btn btn-default btn-block"   href="wellbore.html?wellID={{well['@attributes'].uid}}&wellTitle={{well.name['#text']}}&WellboreID={{Wellbore['@attributes'].uid}}&wellboreTitle={{Wellbore.name['#text']}}&UserName={{USerCredentials.UserName}}&Password={{USerCredentials.Password}}" data-uidWellbore="{{Wellbore['@attributes'].uid}}">
                            <!--<span ng-if="Wellbores.name['#text'] != null" style="font-weight:bold;">Wellbore:</span>--> {{Wellbore.name["#text"]}}
                        </a>
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- FabricUI component used for displaying notifications -->
        <div class="ms-MessageBanner" style="position:absolute;bottom: 0;">
            <div class="ms-MessageBanner-content">
                <div class="ms-MessageBanner-text">
                    <div class="ms-MessageBanner-clipper">
                        <div class="ms-font-m-plus ms-fontWeight-semibold" id="notificationHeader"></div>
                        <div class="ms-font-m ms-fontWeight-semilight" id="notificationBody"></div>
                    </div>
                </div>
                <button class="ms-MessageBanner-expand" style="display:none"><i class="ms-Icon ms-Icon--chevronsDown"></i> </button>
                <div class="ms-MessageBanner-action"></div>
            </div>
            <button class="ms-MessageBanner-close"> <i class="ms-Icon ms-Icon--x"></i> </button>
        </div>
    </div>
</body>
</html>
